/* ===== IMAGENS ===== */
img {
    max-width: 100%;
    display: block;
    margin: 1.5rem auto;
}

/* ===== IFRAMES ===== */
iframe {
    margin: 2rem 0;
    border: 1px solid #ccc;
}

/* ===== DESTAQUE ===== */
strong {
    color: #000;
}
