/* ===== LISTA DE PDFs ===== */
.pdf-list li {
    margin-bottom: 0.8rem;
}

.pdf-list a {
    display: block;
    padding: 0.6rem;
    border-left: 4px solid #121212;
    background-color: #f0f0f0;
}

.pdf-list a:hover {
    background-color: #e0e0e0;
}
