/* Tema claro / escuro */
:root {
    --bg: #fff;
    --texto: #111;
    --borda: #e5e7eb;
    --caixa: #f8fafc;
    --acao: #2563eb;
}

/* As variáveis configuradas no arquivo de css do tema escuro são baseadas num atributo. Quando esse atributo estiver vigente, as variavéis serão substituídas*/
[data-tema="escuro"] {
    --bg: #0b1220;
    --texto: #e5e7eb;
    --borda: #1f2937;
    --caixa: #111827;
    --acao: #38bdf8;
}


/* Estilos padrão */
* {
    box-sizing: border-box;
    /* os elementos de input e outros elementos peguem a largura deles e funcionem com o mesmo valor do width. */
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    color: var(--texto);
}

h1 {
    font-size: 1.6rem;
    margin: 0;
}

.topo {
    border-bottom: 1px solid var(--borda);
}

.topo .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .75rem 1rem;
}

.caixa {
    border: 1px solid var(--borda);
    background-color: var(--caixa);
    border-radius: .5rem;
    padding: 2rem 1rem;
    max-width: 80%;
    margin: 1.5rem auto;
}

h2 {
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
}

p {
    margin: 1rem 0;
}

form {
    display: grid;
    gap: 0.5rem;
}

label {
    font-weight: 600;
}

input {
    padding: .7rem .9rem;
    border: 1px solid var(--borda);
    border-radius: .5rem;
    background-color: var(--bg);
    color: var(--texto)
}

.btn {
    padding: .6rem .9rem;
    border: 1px solid var(--borda);
    background-color: var(--bg);
    color: var(--texto);
    border-radius: .5rem;
    cursor: pointer;
    max-width: 200px;
}

.btn.primario {
    margin-top: 1rem;
    background-color: var(--acao);
    color: #fff;
}

.rodape {
    border-top: 1px solid var(--borda);
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6b7280;
    margin-top: auto;
}
