html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Sets minimum height to 100% of viewport height */
}

header {
    display: flex;
    width: 100%;
    background-color: #121212;
    color: #fafafa;
    justify-content: space-between;
}

header h1 {
    padding: 0 1rem;
    position: sticky;
    text-align: center;
}

nav ul {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
}

li {
    width: 100%;
}

li a {
    color: #fafafa;
    width: 100%;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0 .5rem;
}

li a:hover {
    color: #ccc;
    cursor: pointer;
}

/* .main-container {
    display:flex;
} */
/*   */

.main-container {
    display: flex;
    width: 100%;
    margin: 0;
}

.main-container main{
    display: flex;
    width: 70%; /* Items take full width of container */
    height: 600px;
    border: 5px solid #121212;
    overflow-x: auto; /* Enables horizontal scrolling */
    scroll-snap-type: x mandatory; /* Ensures scrolling stops precisely on items */
    border: 1px solid #ccc;
    position: relative;
    scroll-snap-type: x mandatory; /* Ensures scrolling stops precisely on items */
    scroll-behavior: smooth; /* Provides smooth transitions */
    -webkit-overflow-scrolling: touch; /* Improves scrolling on touch devices */
    scrollbar-width: none; /* Firefox */

}

.main-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.news-container {
    display: flex;
    flex: 0 0  100%;
    flex-direction: column;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center; /* Aligns item to the center of the viewport */
}

figure {
    display: flex;
    flex-direction: column;
    width: 100%;
}

figure img {
    width: 100%;
    height: 70%;
}

figcaption {
    width: 90%;
    background-color: #f0f0f0;
    margin: 0 2rem 1rem 2rem;
}

aside {
    width: 25%;
    margin: 0 auto;
    background-color: #121212;
    padding: 0 2rem;
}

aside ul {
    list-style-type: none;
}

.quote {
    width: 80%; 
    padding: 20px;
    background-color: #ccc;
}


.quote-author {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}

blockquote {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.5rem;
    margin: 0 auto;
}


aside img {
    width: 80%;
    padding: 0;
    margin: 0 auto;   
}

/* footer */

footer {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    border-top: 1px solid black;
    color: #fafafa;
    padding: 1rem 2rem;
}

footer h2 {
    height: 100%;
    
}

footer ul {
    display: flex;
    padding: 0 1rem;
    list-style-type: none; 
}

footer img{
    width: 2rem;
    height: auto;
}

/* responsividade */

/* small laptops a partir de 1100px */
/* @media (max-width: 1100px) {
    bloc{
        width: 95%;
    }

    .plan {
        margin: 0 5px;  
    }
} */

/* celular 576px */
@media (max-width: 576px) {
    body {
        width: 100%;
    }

    nav {
        width: 100%;
        margin: 0;
    }

    nav ul{
        width: 80%;
        margin: 0;
        flex-direction: column;
        
    }

    nav ul li a{
        font-size: 12px;
    }

    .main-container {
        height: 100%;
        width: 100%;
        flex-direction: column;
    }

    .main-container .news-container figure{
        width: 80%;
    }

    aside {
        width:80%;
    }

    footer {
        height: 100%;
    }

    header {
        width: 100%;
        background-image: -moz-linear-gradient();
        background-position: top;
    }
}