html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Sets minimum height to 100% of viewport height */
}

header {
    display: flex;
    background-color: #121212;
    color: #fafafa;
    justify-content: space-between;
}

header h1 {
    padding: 0 2rem;
    position: sticky;
    text-align: center;
}

nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
}

li a {
    color: #fafafa;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0 1rem;
}

li a:hover {
    color: #ccc;
    cursor: pointer;
}

/* .main-container {
    display:flex;
} */
/*   */

.main-container main{
    display: flex;
    width: 70%; /* Items take full width of container */
    height: 500px;
    margin: 0 auto;
    border: 5px solid #121212;
    overflow-x: auto; /* Enables horizontal scrolling */
    scroll-snap-type: x mandatory; /* Ensures scrolling stops precisely on items */
    border: 1px solid #ccc;
    position: relative;
    scroll-snap-type: x mandatory; /* Ensures scrolling stops precisely on items */
    scroll-behavior: smooth; /* Provides smooth transitions */
    -webkit-overflow-scrolling: touch; /* Improves scrolling on touch devices */
    scrollbar-width: none; /* Firefox */

}

.main-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.news-container {
    display: flex;
    flex: 0 0  100%;
    flex-direction: column;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center; /* Aligns item to the center of the viewport */
}

figure {
    display: flex;
    flex-direction: column;
    width: 100%;
}

figure img {
    width: 100%;
    height: 70%;
}

figcaption {
    width: 90%;
    background-color: #f0f0f0;
    margin: 0 2rem 1rem 2rem;
}

footer {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    border-top: 1px solid black;
    color: #fafafa;
    padding: 1rem 2rem;
}

footer h2 {
    margin: 0 40rem 0 5rem;
    height: 100%;
    
}

footer ul {
    display: flex;
    width: 80%;
    padding: 0 1rem;
    list-style-type: none; 
}

footer img{
    width: 2rem;
    height: auto;
}