html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    background-color: #737373;
    color: #fafafa;
    justify-content: space-between;
}

header h1 {
    padding: 0 2rem;
    position: sticky;
    text-align: center;
}

nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
}

li a {
    color: #fafafa;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0 1rem;
}

li a:hover {
    color: #ccc;
    cursor: pointer;
}